<div class="ui {{if loadingState "active"}} inverted dimmer">
  <div class="ui text loader"></div>
</div>
<div class="captcha-div">
  {{flexberry-recaptcha onSuccess=(action "captchaSuccess")}}
</div>
<div class="username-div">
  {{t "components.pwd-reset.username-label"}}<br/>
  {{#if captchaPassed}}
    {{input type="text" value=username}}
  {{else}}
    {{input type="text" placeholder=username readonly=true}}
  {{/if}}
</div>
<div class="pwd-reset-div">
  <button
    class="ui pwd-reset-button button"
    title={{t "components.pwd-reset.pwd-reset-button-title"}}
    disabled={{allowReset}}
    {{action "pwdReset"}}>
      {{t "components.pwd-reset.pwd-reset-button-text"}}
  </button>
</div>
{{#if showNavBlock}}
<div class="login-register-div">
  {{#if showPwdResetButton}}
  <button class="ui login-button button"
    title={{t "components.pwd-reset.login-button-title"}}
    {{action "login"}}>
      {{t "components.pwd-reset.login-button-text"}}
  </button>
  {{/if}}
  {{#if showRegButton}}
  <button class="ui register-button button"
    title={{t "components.pwd-reset.register-button-title"}}
    {{action "register"}}>
      {{t "components.pwd-reset.register-button-text"}}
  </button>
  {{/if}}
</div>
{{/if}}
