<div class="captcha-div">
   {{flexberry-recaptcha
     onSuccess=(action "captchaSuccess")
   }}
</div>

<div class="username-div">
{{t "components.register.username-label"}}<br/>
{{#if captchaPassed}}
  {{input type="email" value=username focus-out="validateUsername"}}
{{else}}
  {{input type="email" readonly=true}}
{{/if}}

{{{usernameFlag}}}

</div>
<div class="full-name-div">
 {{t "components.register.full-name-label"}}<br/>
 {{#if captchaPassed}}
  {{input type="text" value=fullName}}
 {{else}}
  {{input type="text" readonly=true}}
{{/if}}

{{#if validFullname}}
  <i class="green check icon"></i>
{{/if}}
</div>
<div class="register-div">
  <button
    class="ui register-button button"
    title={{t "components.register.register-button-title"}}
    disabled={{allowRegistration}}
    {{action "register"}}>
      {{t "components.register.register-button-text"}}
  </button>
</div>
{{#if useSocialBlock}}
<div class="social-div">
  {{t "components.register.register-with-label"}}<br/>
  <div class="social-buttons">
    {{#if vk}}{{input type="button" value="VK"}}{{/if}}
    {{#if facebook}}{{input type="button" value="Facebook"}}{{/if}}
    {{#if twitter}}{{input type="button" value="Twitter"}}{{/if}}
    {{#if google}}{{input type="button" value="Google"}}{{/if}}
    {{#if microsoft}}{{input type="button" value="Microsoft"}}{{/if}}
    {{#if github}}{{input type="button" value="GitHub"}}{{/if}}
    {{#if ok}}{{input type="button" value="OK"}}{{/if}}
    {{#if mailru}}{{input type="button" value="Mail.ru"}}{{/if}}
    {{#if yandex}}{{input type="button" value="Yandex"}}{{/if}}
    {{#if gosuslugi}}{{input type="button" value="Gosuslugi"}}{{/if}}
  </div>
</div>
{{/if}}

{{#if showNavBlock}}
<div class="login-reset-div">
  {{t "components.register.login-reset-label"}}<br/>
  {{#if showLoginButton}}
  <button class="ui login-button button"
    title={{t "components.register.login-button-title"}}
    {{action "login"}}>
    {{t "components.register.login-button-text"}}
  </button>
  {{/if}}
  {{#if showPwdResetButton}}
  <button class="ui pwd-reset-button button"
    title={{t "components.register.pwd-reset-button-title"}}
    {{action "pwdReset"}}>
      {{t "components.register.pwd-reset-button-text"}}
  </button>
  {{/if}}
</div>
{{/if}}
