<div class="username-div">
  <label for="username">{{t "components.login.username-label"}}</label>
  {{input
    type="text"
    id="username"
    keyPress=(action "onKeyPress")
    value=username
    placeholder="Введите логин"}}
</div>
<div class="password-div">
  <label for="password">{{t "components.login.password-label"}}</label>
  {{input 
    type="password"
    id="password"
    keyPress=(action "onKeyPress")
    value=password
    placeholder="Введите пароль"}}
</div>
{{#if showRemember}}
  <div class="remember-div">
    <div class="ui checkbox">
      {{input type="checkbox" id="remember" checked=remember}}
      <label for="remember">{{t "components.login.remember-label"}}</label>
    </div>
  </div>
{{/if}}
<div class="login-div">
  <button
    class="ui login-button button"
    title={{t "components.login.login-button-title"}}
    disabled={{allowToLogin}}
    {{action "login"}}>
      {{t "components.login.login-button-text"}}
  </button>
</div>
{{#if useSocialBlock}}
<div class="social-div">
  {{t "components.login.login-with-label"}}<br/>
  <div class="social-buttons">
    {{#if vk}}{{input type="button" value="VK"}}{{/if}}
    {{#if facebook}}{{input type="button" value="Facebook"}}{{/if}}
    {{#if twitter}}{{input type="button" value="Twitter"}}{{/if}}
    {{#if google}}{{input type="button" value="Google"}}{{/if}}
    {{#if microsoft}}{{input type="button" value="Microsoft"}}{{/if}}
    {{#if github}}{{input type="button" value="GitHub"}}{{/if}}
    {{#if ok}}{{input type="button" value="OK"}}{{/if}}
    {{#if mailru}}{{input type="button" value="Mail.ru"}}{{/if}}
    {{#if yandex}}{{input type="button" value="Yandex"}}{{/if}}
    {{#if gosuslugi}}{{input type="button" value="Gosuslugi"}}{{/if}}
  </div>
</div>
{{/if}}
{{#if useNavBlock}}
<div class="register-reset-div">
  {{#if showRegButton}}
  <button class="ui register-button button"
    title={{t "components.login.register-button-title"}}
    {{action "register"}}>
      {{t "components.login.register-button-text"}}
  </button>
  {{/if}}
  {{#if showPwdResetButton}}
  <button class="ui pwd-reset-button button"
  title={{t "components.login.pwd-reset-button-title"}}
  {{action "pwdReset"}}>
    {{t "components.login.pwd-reset-button-text"}}
  </button>
  {{/if}}
</div>
{{/if}}
