<h3>Login form</h3>
<p>
Login (E-mail):<br/>
 {{input type="text" value=login}}
</p>
<p>
Password: <br/>
{{input type="text" value=password}}
</p>
<p>
Remember: {{input type="checkbox" checked=remember}}
{{input type="button" value="Log in"}}
</p>
<p>
  Login with:<br/>
  {{input type="button" value="VK"}}
  {{input type="button" value="Facebook"}}
  {{input type="button" value="Twitter"}}
  {{input type="button" value="Google"}}
  {{input type="button" value="Microsoft"}}
  {{input type="button" value="GitHub"}}
  {{input type="button" value="OK"}}
  {{input type="button" value="Mail.ru"}}
  {{input type="button" value="Yandex"}}
  {{input type="button" value="Gosuslugi"}}
</p>
<p>
  {{input type="button" value="Register"}}
  {{input type="button" value="Reset password"}}
</p>