<h3>{{t "forms.register.caption"}}</h3>
<div class="username-div">
{{t "forms.register.username-label"}}<br/>
{{input type="email" value=username}}
{{#if validUsername}}
ok!
{{/if}}
</div>
<div class="surname-div">
 {{t "forms.register.surname-label"}}<br/>
 {{input type="text" value=surname}}
</div>
<div class="name-div">
{{t "forms.register.name-label"}}<br/>
 {{input type="text" value=name}}
</div>
<div class="middle-name-div">
{{t "forms.register.middlename-label"}}<br/>
 {{input type="text" value=middlename}}
</div>
<div class="captcha-div">
   {{t "forms.register.captcha-label"}}<br/>
 {{input type="text" value=captchaValue}}
</div>
<div class="register-div">
  <button
    class="ui register-button button"
    title={{t "forms.register.register-button-title"}}
    {{action "register"}}>
      {{t "forms.register.register-button-text"}}
  </button>
</div>
{{#if useSocialBlock}}
<div class="social-div">
  {{t "forms.register.register-with-label"}}<br/>
  <div class="social-buttons">
    {{#if vk}}{{input type="button" value="VK"}}{{/if}}
    {{#if facebook}}{{input type="button" value="Facebook"}}{{/if}}
    {{#if twitter}}{{input type="button" value="Twitter"}}{{/if}}
    {{#if google}}{{input type="button" value="Google"}}{{/if}}
    {{#if microsoft}}{{input type="button" value="Microsoft"}}{{/if}}
    {{#if github}}{{input type="button" value="GitHub"}}{{/if}}
    {{#if ok}}{{input type="button" value="OK"}}{{/if}}
    {{#if mailru}}{{input type="button" value="Mail.ru"}}{{/if}}
    {{#if yandex}}{{input type="button" value="Yandex"}}{{/if}}
    {{#if gosuslugi}}{{input type="button" value="Gosuslugi"}}{{/if}}
  </div>
</div>
{{/if}}
<div class="login-reset-div">
  {{t "forms.register.login-reset-label"}}<br/>
  <button class="ui login-button button"
    title={{t "forms.register.login-button-title"}}
    {{action "login"}}>
      {{t "forms.register.login-button-text"}}
  </button>
  <button class="ui pwd-reset-button button"
    title={{t "forms.register.pwd-reset-button-title"}}
    {{action "pwdReset"}}>
      {{t "forms.register.pwd-reset-button-text"}}
  </button>
</div>