<h3>Register user form</h3>
<p>
Login (E-mail):<br/>
 {{input type="email" value=login}}
 </p>
 <p>
Name:<br/>
 {{input type="text" value=name}}
</p>
<p>Surname:<br/>
 {{input type="text" value=surname}}
</p>
<p>
  [Captcha]<br/>
 {{input type="text" value=captchaValue}}
</p>
<p>
  {{input type="button" value="Register"}}
</p>
<p>
  Register with:<br/>
  {{input type="button" value="VK"}}
  {{input type="button" value="Facebook"}}
  {{input type="button" value="Twitter"}}
  {{input type="button" value="Google"}}
  {{input type="button" value="Microsoft"}}
  <br/>
  {{input type="button" value="GitHub"}}
  {{input type="button" value="OK"}}
  {{input type="button" value="Mail.ru"}}
  {{input type="button" value="Yandex"}}
  {{input type="button" value="Gosuslugi"}}
</p>
Already registered?
<p>
  {{input type="button" value="Login"}}
  {{input type="button" value="Reset password"}}
</p>